			#bgpng{
				margin: 0;
				padding: 0;
				height: 20% ;
				width: auto;
				left: 33%;
				
				position: relative;
			}
			#whole{
				position: relative;
				overflow-y: hidden;
				overflow-x: hidden;
				margin: 0;
				padding: 0;
			}

			.nav{
				list-style-type: none;
  				margin: auto;
  				padding: 3px;
  				overflow: hidden;
			}
			
			
			.lists{
				list-style-type: none;	
 				padding: 19px;
 				margin: auto;
 				float: right;
 				font-family: "Helvetica" , sans-serif;
 				text-decoration: none;
 				color: #660000;
 				font-weight: bold;
 				position: relative;
 					}
		
			.lists:before{
				content: "";
				position: absolute;
				left: 0;
				bottom: 7px;
				height: 3px;
				width: 0;
				background-color: steelblue;
				transition: 2s;
					}

			.lists:hover::before{
				width: 100%;
			}
			
			

			#introname{
				font-family: "Monaco" , monospace;
				font-size: 8vh;
				padding: 0 ;
				margin: 0;
				position: relative;
				width: 50rem, 1vw;
				left: 9.5%;
				top: 160px;
			}

			#introname1{
				font-family: "Monaco" , monospace;
				font-size: 3vh;
				padding: 0;
				margin: 0;
				top: 150px;
				width: 16rem;
				position: relative;
				left: 9.5%;
				
			}
			#introname2{
				font-family: "Monaco" , monospace;
				font-size: 3.5vh;
				width: 38rem;
				padding: 0;
				margin: 0;
				position: relative;
				text-align: left;
				left: 9.5%;
				top: 180px;

			}

			#Portfolio{
				font-family: "Impact" , sans-serif;
				padding: 0;
				position: relative;
				font-size: 80px;
				margin-top: 7em;
				margin-left: 15%;
				margin-bottom: 140px;
				width: 250px;
				height: 70px;
				background-color: #1a1aff;
				
			}

			div.port_pics img{
				position: relative;
				margin-left: 3%;
				padding: 5%;
				width: 360px;
				height: 270px;
				
				
			}
			div.port_pics1 img{
				top: 100px;
				padding: 5%;
				position: relative;;
				margin-top: 5%;
				width: 360px;
				height: 200px;
				margin-left: 3%;
				padding: 5%;
				
			}
		

			.webs{
				margin:  0px;
				padding: 5%;
				width: 90%;
				background-color: #663399;
				border-radius: 100% 100% 0% 0%;
				border: solid;
				border-color: #663399;
				height:1vh;
			}
			.webs1{
				padding: 0em;
				margin: .5em;

			}


			.spaces{
			margin-top: 200px;
	 		}

	 		#aboutme{
	 			position: relative;
	 			padding: 0.3125em;
	 			top: 3.75em;
	 			left: 15vw;
	 			height: auto;
	 			width: 60%;
	 			margin: 0.3125em;
	 			font-family: monospace;
	 			font-size: 4vh;
	 			white-space: pre-wrap;
	 			word-break: break-all;
	 			text-align: justify;
	 			margin-bottom: 7em;
	 				}
			
			
			.sendmsg{
			font-family: "Helvetica" , sans-serif;
			text-align: center;
			width: 40%;
  			padding: 5px 20px;
  			margin: 8px 0;
  			box-sizing: border-box;
  			border: 1px solid #ff4da6;
  			border-radius: 3px;
  			text-align: left;
  			position: relative;
			}

			#cntctlbl{
				position: relative;
				font-family: "Helvetica" , sans-serif;
				font-size: 40px;
			}

			.sendmsg_btn{
			position: relative;
			border-style: none;
			font-weight: bold;
			text-align: left;
			padding: 10px 20px;
			background-color: dimgray;
			border-color: beige;
			color: whitesmoke;
			}

			.messagebox{
			position: relative;
			font-family: "Helvetica" , sans-serif;
			height: 160px;
			width: 40%;
  			padding: 5px 20px;
  			margin: 8px 0;
  			box-sizing: border-box;
  			border: 1px solid #ff4da6;
  			border-radius: 3px;
  			text-align: left;
  			position: relative;
  			resize: none;
			}
			
			#name{
				font-family: "Helvetica" , sans-serif;
				font-size: 1.2em;
			}	
		

			
